  


<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" style="height: 4%" fxLayoutWrap>

<div fxFlex="40" fxFlex.md="100"   fxFlex.sm="100"   fxFlex.xs="100" fxFlexOffset="5" fxLayoutAlign="start center">
  <!-- <button   mat-button> -->
  <div class="material-text">Art Generator</div>
  <div fxFlex class="material-text" style="font-size: 14px !important"  *ngIf="!login" fxLayoutAlign="end center">Each piece is algorithmically unique.</div>
  
  <div fxFlex class="material-text" style="font-size: 14px !important"   fxLayoutAlign="end center" *ngIf="login"  fxLayout="row" fxShow="false" fxShow.md="true" fxShow.sm="true" fxShow.xs="true">{{email}}</div>

  <div fxFlex="5"></div>


 
</div>



<div fxFlex="40" fxShow="true" fxShow.md="false" fxShow.sm="false" fxShow.xs="false" fxLayoutAlign="center center">
  <button [disabled]="!renderDone" (click)="getRandomArt(true)" class="float-left inline" mat-button>
        Get New Art</button>

  <button class="float-left inline" mat-button>
        <a class="float-left inline" href="#" target="_blank" #downloadLink (click)="download(downloadLink)" download="art.jpg">
          Save this art </a>
      </button>
</div>
<div fxFlex="10"  fxShow="true" fxShow.md="false" fxShow.sm="false" fxShow.xs="false"  fxLayoutAlign="end center">

  <button fxFlex="10" (click)="openLoginModal()"  mat-button>
<span [fxShow]="!login"> Sign In </span>
</button>
<span *ngIf="login">
<span fxFlexAlign="center">{{email}}</span>
<button fxFlex="5" (click)="signOut()" mat-button>
  <span> Sign Out </span>
  </button>
</span>
</div>
</div>
<div fxFlex fxFlexOffset="1" fxLayout="row" fxShow="false" fxShow.md="true" fxShow.sm="true" fxShow.xs="true" style="height: 5%" fxLayoutWrap>
    <div fxFlexOffset="4" fxFlex="45" fxLayoutAlign="start center"  fxLayoutGap="5">
        <button [disabled]="!renderDone" (click)="getRandomArt(true)" class="float-left inline" mat-button>
            Get New Art</button>
    
      <button class="float-left inline" mat-button>
            <a class="float-left inline" href="#" target="_blank" #downloadLink (click)="download(downloadLink)" download="art.jpg">
              Save this art </a>
          </button>
      </div>
      <div fxFlex="50" fxLayoutAlign="end center">

          <button *ngIf="!login"  fxFlex (click)="openLoginModal()"  mat-button>
              <span [fxShow]="!login"> Sign In </span>
              </button>
         
          
<button *ngIf="login"  fxFlex="5" (click)="signOut()" mat-button>
  <span> Sign Out </span>
  </button>
            
      </div>
      <div fxFlex="5"></div>

  </div>
  <div fxFlexOffset="1" fxLayout="row" fxShow="false" fxShow.md="true" fxShow.sm="true" fxShow.xs="true">
</div>



<div #mainContainer fxLayout="row" fxFlexOffset.md="2" fxFlexOffset.sm="2"  fxFlexOffset.xs="2" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" style="height: 92%; overflow: scroll !important">
<div fxFlex="40" fxFlex.md="15" fxFlex.sm="15"  fxFlex.xs="15" class="canvas-height"  style="overflow: scroll !important;">

<mat-grid-list fxFlex [fxShow]="!showFavorites" class="canvas-height" style="margin-left: 10%; margin-top: 0 !important; overflow: scroll !important" cols="5" rows="5" gutterSize="10px">
<mat-grid-tile fxLayout="row" *ngFor="let savedImg of savedImageArr; let i = index;">

  <img class="on-hover-outline" [ngClass]="{
                  'selected': i === currImageIndex
                }" (click)="renderImage(i)" style="height: 100%; width: 100%; float: left;" [(src)]="savedImageArr[i]['src']" />
<span style="position: absolute; right: 0; bottom: 0" fxLayout="row" >
<i (click)="openDeleteDialog(savedImg, i)" class="material-icons on-hover-trash">
              delete
            </i>
<i (click)="saveToFavorites(savedImg, i)" class="material-icons on-hover-trash heart" [ngClass]="{
                  'show': savedImg.favorite
                }">
              favorite
            </i>
</span>
</mat-grid-tile>
</mat-grid-list>
<!-- height: 100px; width: 100px;  -->
<mat-grid-list  fxFlex [fxShow]="showFavorites" class="canvas-height"  style="margin-left: 5%; overflow: scroll !important" cols="5" rows="5" gutterSize="10px">
<mat-grid-tile *ngFor="let savedImg of favoritesArr; let i = index;">

  <img class="on-hover-outline" [ngClass]="{
                  'selected': i === currImageIndex
                }" (click)="renderImage(i)" style="height: 100%; width: 100%; float: left;" [(src)]="savedImg.src" />
<span style="position: absolute; right: 0; bottom: 0" >
<i (click)="openDeleteDialog(imageObj, i)" class="material-icons on-hover-trash">
              delete
            </i>
<i (click)="saveToFavorites(imageObj, i)" class="material-icons on-hover-trash heart" [ngClass]="{
                  'show': savedImg.favorite
                }">
              favorite
            </i>
</span>
</mat-grid-tile>
</mat-grid-list>
<!--<button fxFlex="5" fxFlex.xs="20" fxShow="false" fxShow.md="false" fxShow.sm="true" fxShow.xs="true"  fxFlexAlign="start start" style="height: 5%; max-width: 25px !important;  min-width: 25px !important; padding-left: 5px !important; padding-right: 5px !important" mat-button (click)="filterFavorites()"><i class="material-icons">
  filter_list
  </i>

<i [fxShow]="showFavorites" class="material-icons">
    favorite
      </i>
<i [fxShow]="!showFavorites" class="material-icons">
          favorite_border
            </i>
</button>-->
</div>

<div fxFlex="49" fxFlex.md="85" fxFlex.sm="85" fxFlex.xs="85">
        <button fxFlex="5" fxShow.lg="true" fxShow.md="false"  fxShow.sm="false" fxShow.xs="false"  fxFlexAlign="start start" style="height: 5%; max-width: 25px !important;  min-width: 25px !important; float: left; padding-left: 5px !important; padding-right: 5px !important" mat-button (click)="filterFavorites()"><i class="material-icons">
    filter_list
    </i>

<i [fxShow]="showFavorites" class="material-icons">
      favorite
        </i>
<i [fxShow]="!showFavorites" class="material-icons">
            favorite_border
              </i>
</button>



<div fxFlexOffset.xl="5"  fxFlexOffset.md="5"  fxFlexOffset.lg="5" style="position: relative"> 
<canvas #myCanvas id="myCanvas" class="canvas-height">
  Your browser does not support the canvas element.
</canvas>
<div style="position: absolute" #loaderCanvas  class="margin-auto loader">
</div>
</div>


</div>
 <!-- <div fxFlex="10" fxLayoutAlign="start start">
<div class="edit">
      <button (click)="toggleEdit()" style="margin-bottom: auto; padding-left: 0px !important;" class="float-left inline" mat-button>
        <i *ngIf="!edit" class="material-icons">
          edit
        </i>
        <i *ngIf="edit" class="material-icons">
          save
        </i>
      </button>


      <span *ngIf="edit">
        <br>
            <button  (click)="getRandomArt(false, 1)" style="margin-bottom: auto; padding-left: 0px !important" class="float-left inline" mat-button>
          <i class="material-icons">
            add
          </i>
        </button>
        <br>
        <button [disabled]="disableUndoShape" (click)="undo()" style="margin-bottom: auto; padding-left: 0px !important" class="float-left inline" mat-button>
          <i class="material-icons">
            undo
          </i>
        </button>
        <br>
        <button [disabled]="disableRedoShape" (click)="redo()" style="padding-left: 0px !important" class="float-left inline" mat-button>
          <i class="material-icons">
            redo
          </i>
        </button>
        <br>
        <button (click)="saveCurrentArt(true, true)" class="float-left inline" style="padding-left: 0px !important" mat-button>
          <i class="material-icons">
            create_new_folder
          </i>
        </button>
        <br>
        <button (click)="openDeleteDialog(imgObj, currImageIndex)" class="float-left inline"style="padding-left: 0px !important"  mat-button>
          <i class="material-icons">
            delete
          </i>
        </button>

      </span>
    </div> 
</div> -->
</div>
<div  fxLayout="row" fxLayoutAlign="start start">
        <span class="material-text" fxFlexOffset="5" style="font-size: 14px !important">art and code by <a href="https://github.com/kvanlaan" class="name" target="_blank"> Katrina Van Laan</a></span>
  </div>
</div>