<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" style="height: 6%" fxLayoutWrap>

<div fxFlex fxFlexOffset="5" fxLayoutAlign="start center">
  <!-- <button   mat-button> -->
  <div class="material-text">Art Generator</div>
  <!-- <div fxLayoutAlign="start start" > -->

  <!-- </div> -->
</div>
<div fxFlex="50">
  <button [disabled]="!renderDone" (click)="getRandomArt(true)" class="float-left inline" mat-button>
        Get New Art</button>

  <button (click)="getRandomArt(false)" class="float-left inline" mat-button>Add New Layer</button>


  <button [disabled]="disableUndo" (click)="undo()" class="float-left inline" mat-button>Undo Layer</button>
  <button [disabled]="disableRedo" (click)="redo()" class="float-left inline" mat-button>Redo Layer</button>

  <button class="float-left inline" mat-button>
        <a class="float-left inline" href="#" target="_blank" #downloadLink (click)="download(downloadLink)" download="art.jpg">
          Save this art </a>
      </button>
</div>
<div fxFlex fxLayoutAlign="end center">

  <button fxFlex="10" (click)="handleSignedOutUser()" style="margin-right: 0% !important; margin-bottom: auto;" mat-button>
<span [fxShow]="!login"> Sign In </span>
</button>

<mat-form-field *ngIf="login" fxflex="10">
  <mat-select [(value)]="email" fxFlex>
    <mat-option [(value)]="email">
      {{email}}
    </mat-option>
    <mat-option (click)="signOut()">
      Sign Out
    </mat-option>
  </mat-select>
</mat-form-field>


</div>
</div>
<!-- <button (click)="toggleEdit()" style="margin-bottom: auto" class="float-left inline" mat-button>
  Edit Layer
</button> -->

<div>

</div>
<div #mainContainer fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" style="height: 94%">
      <button fxFlex="5" fxFlexAlign="start start" [ngClass]=" { 'invisible': !renderDone }" style="height: 5%; max-width: 25px !important;  min-width: 25px !important; float: left; padding-left: 5px !important; padding-right: 5px !important" mat-button (click)="filterFavorites()"><i class="material-icons">
    filter_list
    </i>

<i [fxShow]="showFavorites" class="material-icons">
      favorite
        </i>
<i [fxShow]="!showFavorites" class="material-icons">
            favorite_border
              </i>
</button>
<div fxFlex="40" [style.height.px]="canvasSize" [ngClass]="{ 'invisible': !renderDone }"  *ngIf="renderDone" style="overflow: scroll !important;">

<mat-grid-list  [fxShow]="!showFavorites" [style.height.px]="canvasSize" style="overflow: scroll !important" cols="5" rows="5" gutterSize="10px">
<mat-grid-tile fxLayout="row" *ngFor="let savedImg of savedImageArr; let i = index;">

  <img class="on-hover-outline" [ngClass]="{
                  'selected': i === currImageIndex
                }" (click)="renderImage(i)" style="height: 100%; width: 100%; float: left;" [(src)]="savedImageArr[i]['src']" />
<span style="position: absolute; right: 0; bottom: 0" fxLayout="row" >
<i (click)="openDeleteDialog(savedImg, i)" class="material-icons on-hover-trash">
              delete
            </i>
<i (click)="saveToFavorites(savedImg, i)" class="material-icons on-hover-trash heart" [ngClass]="{
                  'show': savedImg.favorite
                }">
              favorite
            </i>
</span>
</mat-grid-tile>
</mat-grid-list>
<!-- height: 100px; width: 100px;  -->
<mat-grid-list [fxShow]="showFavorites" [style.height.px]="canvasSize" *ngIf="renderDone" style="overflow: scroll !important" cols="5" rows="5" gutterSize="10px">
<mat-grid-tile *ngFor="let savedImg of favoritesArr; let i = index;">

  <img class="on-hover-outline" [ngClass]="{
                  'selected': i === currImageIndex
                }" (click)="renderImage(i)" style="height: 100%; width: 100%; float: left;" [(src)]="savedImageArr[i]['src']" />
<span style="position: absolute; right: 0; bottom: 0" >
<i (click)="openDeleteDialog(imageObj, i)" class="material-icons on-hover-trash">
              delete
            </i>
<i (click)="saveToFavorites(imageObj, i)" class="material-icons on-hover-trash heart" [ngClass]="{
                  'show': savedImg.favorite
                }">
              favorite
            </i>
</span>
</mat-grid-tile>
</mat-grid-list>

</div>

<div fxFlex="59" style="position: relative">
  <!-- <button [ngClass]=" { 'invisible': !renderDone }" style="opacity: 0;  float: left; vertical-align: top;  min-width: 0px !important; padding-left: 5px !important; padding-right: 5px !important" mat-button (click)="filterFavorites()"><i class="material-icons">
    filter_list
    </i>

<i [fxShow]="showFavorites" class="material-icons">
      favorite
        </i>
<i [fxShow]="!showFavorites" class="material-icons">
            favorite_border
              </i>
</button> -->

<div style="z-index: 10" #loaderCanvas class="margin-auto loader">
</div>

<canvas [ngClass]=" { 'invisible': !renderDone }" #myCanvas id="myCanvas">
  Your browser does not support the canvas element.
</canvas>
<div style="z-index: 10" #loaderCanvas class="margin-auto loader">
</div>

</div>
<!-- <div fxFlex="10">

      <button (click)="toggleEdit()" style="margin-bottom: auto" class="float-left inline" mat-button>
        <i *ngIf="!edit" class="material-icons">
          edit
        </i>
        <i *ngIf="edit" class="material-icons">
          save
        </i>
      </button>

      <span *ngIf="edit">
        <br>
        <button [disabled]="disableUndoShape" (click)="undoShape()" style="margin-bottom: auto" class="float-left inline" mat-button>
          <i class="material-icons">
            undo
          </i>
        </button>
        <br>
        <button [disabled]="disableRedoShape" (click)="redoShape()" class="float-left inline" mat-button>
          <i class="material-icons">
            redo
          </i>
        </button>
        <br>
        <button (click)="saveCurrentArt(true, true)" class="float-left inline" mat-button>
          <i class="material-icons">
            create_new_folder
          </i>
        </button>
        <br>
        <button (click)="openDeleteDialog(imgObj, currImageIndex)" class="float-left inline" mat-button>
          <i class="material-icons">
            delete
          </i>
        </button>

      </span>
    </div> -->
</div>

</div>