<div #storage style="margin: auto; z-index: 100">

  <button class="material-text float-right hover" style="min-width: 0px !important; margin-right: -20px !important; margin-top: -20px !important; opacity: .5"
    mat-icon-button [mat-dialog-close]="false">X</button>
  <span>
    <h2 class="material-text" mat-dialog-title>  Your library is full!

    </h2>
    <mat-dialog-content>
 Sign In To Save More Images
 <button [mat-dialog-close]="true" mat-button>
   Sign In 
</button>

    </mat-dialog-content>
  </span>
</div>