@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

body {
  text-align: center;
  /* background: rgba(255, 197, 143, .2); */
  /* background-color: #ffa339; */
  /* color: white !important; */
  /* background-color: black;

    background-color: darkslategray; */
  /* background: rgba(255, 197, 143);
    opacity: .8; */
}

html,
body {
  margin: 0;
  margin-top: 5px;
  width: 100%;
  height: 100%;
}

button {
  font-size: 14px !important;
}

.bottom-0 {
  bottom: 0;
}

html {
  text-align: center;
}

.hidden {
  opacity: 0 !important;
}

.hover-red:hover {
  color: red;
}

.list-height {
  height: calc(100%);
}

.cdk-overlay-pane {
  position: fixed !important;
  margin: auto !important;
  left: 40% !important;
  top: 30% !important;
  background: white;
}

.height-100vh {
  height: 100vh;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background: red;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  color: rgb(255, 0, 0, .54);
}

/* .mat-select-panel {
  background: white;
  margin-top: -700px !important;
} */
.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
  margin-top: -255% !important;
  margin-right: -100% !important;
  margin-left: 400% !important;
}

.material-text {
  color: rgb(0, 0, 0);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px !important;
}

.margin-auto {
  margin: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.min-height-450 {
  min-height: 450px;
}

.loading-position {
  margin: 0px;
  padding: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid red;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  animation: spin 1.5s linear infinite;
}

.loader.small {
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid red;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: red;
}

button .edit {
  padding-left: 0 !important;
}


/* button.edit.mat-button {
  padding-left: 0px !important;
} */
.inline {
  display: inline !important;
}

.on-hover-trash {
  opacity: 0 !important;
}

.float-right {
  float: right !important;
}

.visibile {
  opacity: 1 !important;
}


.invisible {
  opacity: 0 !important;
}

.display-none {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.on-hover-trash:hover {
  visibility: visible;
  opacity: 1 !important;
  color: red;
}

.on-hover-trash .show {
  visibility: visible;
  opacity: 1 !important;
  color: red;
}

.show.on-hover-trash {
  visibility: visible;
  opacity: 1 !important;
  color: red;
}

.material-icons {
  cursor: pointer;
}

.selected {
  border: 2px solid red;
  box-sizing: border-box;
}

.on-hover-outline:hover {
  border: 2px solid red;
  box-sizing: border-box;
}

.warning {
  background: rgba(189, 195, 199, .6);
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* .mat-stroked-button {
  background-color: transparent;
} */

.cdk-overlay-connected-position-bounding-box {
  max-width: 288px !important;
  left: 0px !important;
  top: -20px !important;

  min-width: 288px !important;
  transform: translateX(-16px) translateY(-40px)
    /* pointer-events: auto !important;
  font-size: 16px !important;
  transform: translateX(-16px) !important;
  top: -20px !important;
  left: 741px !important; */
}

.md-stroked-button.md-stroked-focused {
  background-color: rgba(0, 0, 0, 0) !important;
}

.cdk-focused {
  background-color: rgba(0, 0, 0, 0) !important;
}

.cdk-program-focused {
  background-color: rgba(0, 0, 0, 0) !important;
}

.heart {
  font-size: 22.5px !important;
  color: red;
}

.img-action-buttons {
  right: 0;
  bottom: 0;
  position: absolute;
}

.name:hover {
  color: red !important;
}

.height-100 {
  height: 100%
}

.width-100 {
  width: 100%;
}

.file-input {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.float-left {
  float: left;
}

.mat-grid-list {
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  overflow: scroll !important;
}

.overflow-scroll {
  overflow: scroll !important;

}

input::-webkit-file-upload-button {
  visibility: hidden;
}

input:focus {
  outline: none;
}

.tile {
  height: 18px;
  width: 18px;
  padding: 5px;
  border: 2px rgb(0, 0, 0) solid;
  position: relative;
  /* background-position: top;  */
  background-size: 50px auto;
}

.tile:hover {
  border: 2px red solid;
}

.tile:hover:after {
  opacity: 1;
}

.hover {
  opacity: 0;

}

.text-align-left {
  text-align: left;
}

.upload {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  text-align: center;
}

.tile:hover>.upload {
  background: rgba(189, 195, 199, .6);
  transition: all 1s;
  -webkit-transition: all .5s;
}


.tile:hover>.hover {
  transition: all .5s;
  -webkit-transition: all .5s;
  opacity: 1;
}

input:hover::before {
  border-color: red
}

.arabesque {
  background-image: url('assets/arabesque_pattern.jpg');
}

.van {
  background-image: url('assets/van_tile.jpg');
}

.frieze {
  background-image: url('assets/frieze_tile.jpg');
}

.trunks {
  background-image: url('assets/trunks_tile.png');
}

.mexico {
  background-image: url('assets/mexico_flag_tile.jpg');
}

.kosovo {
  background-image: url('assets/kosovo_map_tile.jpg');
}

.z-index-100 {
  z-index: 100;
}

.hide {
  display: none;
  height: 0;
  visibility: hidden !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /* Styles */
  .canvas-height {
    height: 704.680851px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

  /* Styles */
  .canvas-height {
    height: 704.680851px;
  }

  /* .mat-grid-list {
    margin-left: 5%;
  } */

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

  /* Styles */
  .canvas-height {
    height: 704.680851px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* Styles */
  .canvas-height {
    height: 704.680851px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  /* Styles */
  .canvas-height {
    height: 704.680851px;
  }

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  /* Styles */
  .canvas-height {
    height: 704.680851px;
  }
}

/**********
  iPad 3
  **********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

  /* Styles */
  .canvas-height {
    height: 704.680851px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

  /* Styles */
  .canvas-height {
    height: 704.680851px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

  /* Styles */
  .canvas-height {
    height: 704.680851px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) and (max-width :1700px) {

  /* Styles */
  .canvas-height {
    height: 715.680851px;
  }

}

.full-height {
  height: 900.425532px;
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

  /* Styles */
  .canvas-height {
    /* height: 900.425532px; */

    height: 843.297px;

    /* 810.3829788px; */
  }

}


/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

  /* Styles */
  .canvas-height {
    height: 440.425532px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

  /* Styles */
  .canvas-height {
    height: 440.425532px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }

  .iphone-6-margin {
    margin-top: 1.5em;
    margin-bottom: 1.75em;
  }

  .iphone-6-bottom-margin {
    margin-bottom: 1em;
  }

  .iphone-6-top-margin {
    margin-top: 1em;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */
  .canvas-height {
    height: 516.765957px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }

  .iphone-6-margin {
    margin-top: 1.5em;
    margin-bottom: 1.75em;
  }

  .iphone-6-bottom-margin {
    margin-bottom: 1em;
  }

  .iphone-6-top-margin {
    margin-top: 1em;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */
  .canvas-height {
    height: 516.765957px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }

  .iphone-6-margin {
    margin-top: 1.5em;
    margin-bottom: 1.75em;
  }

  .iphone-6-bottom-margin {
    margin-bottom: 1em;
  }

  .iphone-6-top-margin {
    margin-top: 1em;
  }

}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */
  .canvas-height {
    height: 613.659574px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */
  .canvas-height {
    height: 613.659574px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }

  .iphone-6-margin {
    margin-top: 1.5em;
    margin-bottom: 1.75em;
  }

  .iphone-6-bottom-margin {
    margin-bottom: 1em;
  }

  .iphone-6-top-margin {
    margin-top: 1em;
  }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */
  .canvas-height {
    height: 681.191489px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */
  .canvas-height {
    height: 681.191489px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */
  .canvas-height {
    height: 587.234043px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */
  .canvas-height {
    height: 587.234043px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {

  /* Styles */
  .canvas-height {
    height: 587.234043px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {

  /* Styles */
  .canvas-height {
    height: 587.234043px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {

  /* Styles */
  .canvas-height {
    height: 587.234043px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }

}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {

  /* Styles */
  .canvas-height {
    height: 587.234043px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }
}

@media only screen and (min-device-width: 1336px) {
  /* Styles */
}


@media only screen and (min-device-width : 320px) and (max-device-width : 376px) {

  /* Styles */
  .canvas-height {
    height: 374.425532px;
  }

  .cdk-overlay-pane {
    left: 5% !important;
  }
}