/* You can add global styles to this file, and also import other style files */

body {
  text-align: center;
  /* background: rgba(255, 197, 143, .2); */
  /* background-color: #ffa339; */
  /* background: rgba(255, 197, 143);
    opacity: .8; */
}
html, body {
  margin: 0;
  margin-top: 5px;
  width:  100%;
  height: 100%;
}

button {
    font-size: 14px !important;
}
 html {
   text-align: center;
 }

.cdk-overlay-pane {
  position: fixed !important;
  margin: auto !important; 
  left:40% !important;
  top: 30% !important;
  background: white;
}
/* .mat-select-panel {
  background: white;
  margin-top: -700px !important;
} */
.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane{
  margin-top: -255% !important;
  margin-right: -100% !important;
  margin-left: 400% !important;
}

.material-text {
color: rgb(0, 0, 0);
font-family: system-ui;
font-weight: 400;
font-size: 18px !important;
}
/* html:before {
    position: fixed;
    width: 100%; height: 100%;
    background-color: #ffe139da;
    opacity: .1;
    pointer-events: none;
    content: ' ';
    z-index: 99999;
  }

  html {
    filter: brightness(0.9);
  } */

/* html:before {
    position: fixed;
    width: 100%; 
    height: 100%;
    background-color: rgb(255, 60, 60);
    opacity: .2;
    pointer-events: none;
    content: ' ';
    z-index: 99999;
  } */

/* html:before {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 147, 41);
  opacity: .1;
  pointer-events: none;
  content: ' ';
  z-index: 99999;
}

html:before {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 167, 82);
  opacity: .2;
  pointer-events: none;
  content: ' ';
  z-index: 99999;
} */

/* html:after {
    position: fixed;
    width: 100%; 
    height: 100%;
    background-color: orange;
    opacity: .2;
    pointer-events: none;
    content: ' ';
    z-index: 99999;
  } */

.margin-auto {
  margin: auto;
}

.loading-position {
  margin: 0px;
  padding: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid red;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.inline {
  display: inline !important;
}

.on-hover-trash {
  opacity: 0 !important;
}
.float-right {
  float: right !important;
}

.visibile {
  opacity: 1 !important;
}


.invisible {
  opacity: 0 !important;
}


.invisible {
  visibility: hidden !important;
}
.on-hover-trash:hover {
  visibility: visible;
  opacity: 1 !important;
  color: red;
}
.on-hover-trash .show {
  visibility: visible;
  opacity: 1 !important;
  color: red;
}

.show.on-hover-trash {
  visibility: visible;
  opacity: 1 !important;
  color: red;
}
.material-icons {
  cursor: pointer;
}

.selected {
  border: 2px solid red;
  box-sizing: border-box;
}

.on-hover-outline:hover {
  border: 2px solid red;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.mat-button {
  background-color: transparent;
}

.cdk-overlay-connected-position-bounding-box {
  max-width:288px !important;
  left: 0px !important;
  top: -20px !important;

  min-width: 288px !important; 
  transform: translateX(-16px) translateY(-40px)
  /* pointer-events: auto !important;
  font-size: 16px !important;
  transform: translateX(-16px) !important;
  top: -20px !important;
  left: 741px !important; */
}
.md-button.md-focused {
  background-color: rgba(0,0,0,0) !important;
}
.cdk-focused {
  background-color: rgba(0,0,0,0) !important;
}
.cdk-program-focused {
  background-color: rgba(0,0,0,0) !important;
}
.heart {
  font-size: 22.5px !important;
}
